// Typography

.h1 {
  @include h1();
}

.h2 {
  @include h2();
}

.h3 {
  @include h3();
}

.h4 {
  @include h4();
}

.h5 {
  @include h5();
}

.h6 {
  @include h6();
}

.leave-beta-site {
  display: inline-block;
  font-weight: bold;
  background-color: #ffffaa;
  float: right;
  margin-right: 10px;
}

form [type=submit] {
  display: initial;
}

.w3-table {
  margin-bottom: 0;
  margin-top: 1rem;

  th, td {
    border: none;
  }
}


.legend-study-status {
  font-size: $base-font-size;
  font-weight: $font-normal;
  margin-bottom: 0.2em;
  padding-top: 3rem;
}

// Alignment fix on select box clear
button.clearFieldIE {
  margin-bottom: 4px;
  margin-top: 3px;
}

.sf-menu {
  float: none;
}

ul.sf-menu {
  @include margin(null auto);
}

.logo {
  float: left;
}

.logo-img {
  margin-top: 3rem;
}

.hero {
  background-color: $color-primary-darker;
  color: $color-white;
}

[role="contentinfo"] {
  background-color: $color-gray-dark;
}
