// Mixins --------- //

@mixin clip-margins {
  :first-child {
    margin-top: 0;
  }

  :last-child {
    margin-bottom: 0;
  }
}

// Grid --------- //

// Fix usa-width-five-twelfths by removing right margin
// TODO: fix in USWDS
.usa-width-five-twelfths {
  @include media($medium-screen) {
    margin-right: 0;
  }
}

// Typography ------------ //

.h5 {
  @include h5;
}

.usa-content {
  ul:not(.usa-accordion):not(.usa-accordion-bordered) {
    max-width: $text-max-width;
  }
}

.usa-serif {
  p,
  a,
  li,
  span {
    font-size: 1.5rem;
    line-height: 1.7em;
  }
}

// Horizontal rule -------- //

// could call it a .divider
hr {
  border-bottom: 0;
  border-top: 1px solid $color-gray-light;
  margin-bottom: 6rem;
  margin-top: 6rem !important;
}

// Table ------------ //

// TODO: fix in USWDS
td,
th {
  @include clip-margins; // Remove top and bottom margins in table cells
  vertical-align: initial; // Align table cell text on top not middle
}

// Checkbox and radio buttons ------ //

// Bug fixes
.usa-fieldset-inputs {
  li {
    position: relative;
  }
}

[type=checkbox],
[type=radio] {
  cursor: pointer;
  height: auto;
}

// Navigation ------------ //

.usa-logo-text {
  @include media($nav-width) {
    font-size: 3.2rem;
  }
}

.usa-navbar {
  @include media($nav-width) {
    height: 81px;
  }
}

.usa-nav {
  @include media($nav-width) {
    padding-top: 2.4rem;
  }
}

// Hero ------------ //

.hero {
  background-color: $color-primary-darker;
  color: $color-white;

  h2 {
    max-width: 750px;
  }
}

// Search ------------ //

.trial-info {
  > * {
    max-width: 338px;
  }
}

label[for="keyword"] {
  @include h3();
  font-family: $font-serif;
  margin-top: 0;
}

label[for="location"] {
  @include h5();
  font-family: $font-serif;
}

.form-search {
  > input {
    @include margin(8px null);
  }

  input[type="submit"] {
    margin-bottom: 0;

    @include media($medium-screen) {
      float: right;
    }
  }

  .form-help-text {
    margin-top: 0;
  }
}

.search-links {
  margin-bottom: 5rem;
  margin-top: 3rem;

  > :first-child {
    margin-right: 3.5rem;
  }

  .fa {
    margin-right: 1rem;

    &:before {
      font-size: 20px;
    }
  }
}

@mixin advanced-search-label {
  font-size: 16px;
  margin-bottom: 1rem;
  padding-top: 2rem;
}

.search-advanced {
  .usa-accordion-content {
    background-color: transparent;
  }

  .usa-width-one-third {
    @include media($medium-screen) {
      height: 870px;
    }

    &:nth-child(-n+2) {
      @include media($medium-screen) {
        border-right: 1px solid $color-gray-light;
      }
    }
  }

  legend {
    @include advanced-search-label;
  }

  .form-label {
    @include advanced-search-label;
    font-weight: $font-bold;
    margin-top: 0;
  }
}

select[id="age-group"] {
  max-width: 212px;
}

.fa-map-marker {
  left: 13px;
  position: relative;
  top: -40px;

}

input[id="location"] {
  padding-left: 30px;
}

// Info callouts ------------ //

.info-callouts {
  @include margin(3rem null);
}

.card {
  padding: 3rem;

  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }

  @include media($medium-screen) {
    min-height: 230px;
  }
}

// Colors ------- //

.usa-color-bg-primary-alt-lightest {
  background-color: $color-primary-alt-lightest;
}

.usa-color-bg-gray-dark {
  background-color: $color-gray-dark;
  color: $color-white;
}

.usa-color-bg-primary {
  background-color: $color-primary;
  color: $color-white;
}

.usa-color-bg-gray-lightest {
  background-color: $color-gray-lightest;
}

.usa-color-bg-gold-lightest {
  background-color: $color-gold-lightest;
}

.usa-color-green {
  color: $color-green;
}

///////////////////////////////////
// Study detail page ---------- //
/////////////////////////////////

.study_detail-page_links {
  @include padding(2rem null);
  float: right;

  a {
    font-family: $font-sans;
    font-weight: $font-bold;
    text-decoration: none;
  }

  .fa {
    color: $color-gray;
    font-size: $base-font-size;
    margin-right: 6px;
  }
}

.divider-vertical {
  border-right: 1px solid $color-gray-light;
  margin-left: 7px;
  margin-right: 10px;
}

.study_detail-intro {
  @include media($medium-screen) {
    @include clip-margins;
  }

  clear: right;

  h3 {
    .fa {
      margin-right: 4px;
    }
  }
}

.study_detail-main {
  .usa-width-one-fourth {
    @include media($medium-screen) {
      margin-right: 0;
      padding-right: 4rem;
      width: 250px;
    }
  }

  .usa-width-three-fourths {
    @include media($medium-screen) {
      width: calc(100% - 250px);
    }
  }
}

.study_detail-link-eligibility {
  display: block;
  margin-bottom: 1em;
}

// Breadcrumb navigation -------- //

.sticky {
  @include media($medium-screen) {
    max-height: 100vh;
    overflow: auto;
    position: sticky;
    top: 0;
  }
}

.submenu {
  @include padding(1.5rem null);
  border-bottom: 1px solid $color-gray-light;
}

.breadcrumbs {
  li {
    color: $color-gray;
    display: inline-block;
    font-size: 1.5rem;

    &:not(:last-child):after {
      @include margin(null 5px);
      content: ">";
    }
  }

  a {
    text-decoration: none;
  }
}

.box {
  @include clip-margins;
  padding: 2rem;
}
