---
layout: base
permalink: /study-detail/
class: study-detail
---

<nav class="submenu">
  <div class="usa-grid">
    <ul class="breadcrumbs usa-unstyled-list">
      <li>
        <a href="{{ site.baseurl }}/">Home</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/search-results/">Search results</a>
      </li>
      <li>Study details</li>
    </ul>
  </div>
</nav>
<div class="usa-grid">
  <div class="study_detail-page_links">
    <a href="#">
      <i class="fa fa-star-o" aria-hidden="true"></i>
      Save this study
    </a>
    <span class="divider-vertical"></span>
    <a href="#">
      <i class="fa fa-print" aria-hidden="true"></i>
      Print
    </a>
    <span class="divider-vertical"></span>
    <a href="#">
      <i class="fa fa-envelope-o" aria-hidden="true"></i>
      Email
    </a>
    <span class="divider-vertical"></span>
    <button class="js-glossary-toggle button usa-button-unstyled term">{% include svg/glossary.svg %} Glossary</button>
  </div>
  <div class="study_detail-intro usa-width-seven-twelfths">
    <span class="study-status study-status-recruiting">
      <i class="fa fa-circle" aria-hidden="true"></i>
      Recruiting
    </span>
    <h1 class="study_detail-heading">Use of Mobile Apps for Those With PTSD and Their Partners</h1>
    <p class="study_detail-history study_detail-meta">
      Registration first posted: June 16, 2017,
      Update last posted: July 5, 2017,
      Results first posted: July 2017.
      <a href="#history">History of changes</a>.
    </p>
    <p class="study_detail-meta study_detail-identifier"><b>ClinicalTrials.gov identifier (NCT)</b>: NCT02780635</p>
    <div class="study_detail-intro-disclaimer">
      <div class="usa-alert usa-alert-warning">
        <div class="usa-alert-body">
          <p class="usa-alert-text">Studies are not evaluated for safety or scientific validity by the U.S. federal government. <a href="https://clinicaltrials.gov/ct2/about-studies/learn#Considerations">Know the risks of clinical studies</a> and talk with a healthcare provider before participating.</p>
        </div>
      </div>
    </div>
    <a class="study_detail-button-location usa-button" href="#contact-and-locations">View 4 recruiting locations <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
    <a class="study_detail-link-eligibility" href="#eligibility">Check eligibility criteria<i class="fa fa-chevron-right" aria-hidden="true"></i></a>
  </div>
  <div class="usa-width-five-twelfths">
    <aside class="study_detail-sidebar usa-color-bg-primary-alt-lightest">
      <h2 class="sidebar-heading-primary term">Sponsored by <i class="fa fa-info-circle" aria-hidden="true"></i></h2>
      <p>Arizona State University</p>
      <h3 class="sidebar-heading-secondary">Primary contact</h3>
      <span>
        Georgina Kafta
        <br>
        421-652-3159
        <br>
        <a href="#">GKafta@gmail.com</a>
      </span>
    </aside>
  </div>
</div>
{{ content }}