---
layout: base
permalink: /study-detail/
class: study-detail
---

<nav class="submenu">
  <div class="usa-grid">
    <ul class="breadcrumbs usa-unstyled-list">
      <li>
        <a href="{{ site.baseurl }}/">Home</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/search-results/">Search results</a>
      </li>
      <li>Study details</li>
    </ul>
    <div class="page-links">
      <a href="#">
        <i class="fa fa-star-o" aria-hidden="true"></i>Save this study
      </a>
      <span class="divider-vertical"></span>
      <button class="js-glossary-toggle button usa-button-unstyled term"><i class="fa fa-info-circle" aria-hidden="true"></i>Glossary</button>
      <span class="divider-vertical"></span>
      <a href="#">
        <i class="fa fa-print" aria-hidden="true"></i>
        <span class="usa-sr-only">Print</span>
      </a>
      <a href="#">
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
        <span class="usa-sr-only">Email</span>
      </a>
<!--       <a class="link-subscribe" href="#0">
        <i class="fa fa-download" aria-hidden="true"></i>
        <span class="usa-sr-only">Download search results</span>
      </a>
      <a class="link-subscribe" href="javascript:void(0);">
        <i class="fa fa-rss" aria-hidden="true"></i>
        <span class="usa-sr-only">Subscribe to updates on this search (RSS)</span>
      </a> -->
    </div>
  </div>
</nav>
<div class="usa-grid study_detail-intro">
  <div class="study_detail-intro-main usa-width-seven-twelfths">
    <span class="study-status study-status-recruiting">
      <i class="fa fa-circle" aria-hidden="true"></i>
      Recruiting
    </span>
    <h1 class="study_detail-heading">Use of Mobile Apps for Those With PTSD and Their Partners</h1>
    <div class="study_detail-date">
      <p class="study_detail-meta">Update last posted: June 16, 2017 <a href="#important-dates">Important dates</a></p>
<!--       <ul class="usa-unstyled-list">
        <li class="">
          <p class="study_detail-meta">
            Registration first posted:<br>
            <span class="study_detail-meta-date">June 16, 2017</span>
          </p>
        </li>
        <li class="">
          <p class="study_detail-meta">
            Update last posted:<br>
            <span class="study_detail-meta-date">July 5, 2017</span>
          </p>
        </li>
        <li class="">
          <p class="study_detail-meta">
            Results first posted:<br>
            <span class="study_detail-meta-date">July 16, 2017</span>
          </p>
        </li>
      </ul> -->
    </div>
    <div class="study_detail-intro-disclaimer">
      <div class="usa-alert usa-alert-warning">
        <div class="usa-alert-body">
          <p class="usa-alert-text">The safety and scientific validity of this study is the responsibility of the sponsor and responsible party. <a href="https://clinicaltrials.gov/ct2/about-studies/learn#Considerations">Know the risks and potential benefits of clinical studies</a> and talk to a health care provider before participating.</p>
        </div>
      </div>
    </div>
    <a class="study_detail-button-location usa-button" href="#contact-and-locations">
      <i class="fa fa-map-marker" aria-hidden="true"></i>
      View 4 recruiting locations <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </a>
    <a class="study_detail-link-eligibility" href="#eligibility-requirements">Check eligibility <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
  </div>
  <div class="usa-width-five-twelfths">
    <p class="subheading study_detail-identifier">ClinicalTrials.gov identifier (NCT): NCT02780635</p>
    <aside class="study_detail-sidebar usa-color-bg-primary-alt-lightest">
      <h2 class="sidebar-heading-primary term">Central contact <i class="fa fa-info-circle" aria-hidden="true"></i></h2>
      <p>
        Georgina Kafta
        <br>
        421-652-3159
        <br>
        <a href="#">GKafta@gmail.com</a>
      </p>
      <h2 class="sidebar-heading-secondary term">Information provided by (responsible party) <i class="fa fa-info-circle" aria-hidden="true"></i></h2>
      <p class="sidebar-content-secondary">Arizona State University</p>
    </aside>
  </div>
</div>
{{ content }}